body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}
.name {
  color: #f13c20;
  font-size: 40px;
  font-family: "Allan";
}
.body_section {
  padding: 3% 5% 1%;
}

a {
  text-decoration: none;
}
.headerachor {
  color: black;
  margin: 0 7px 0 7px;
  font-size: 25px;
}

.headerachor:hover {
  background-color: #f1f1f1;
}

#Section1 {
  padding: 7% 0 3%;
}

.Programming {
  width: 100%;
  height: 100%;
}

.Coding {
  padding-top: 3%;
  text-align: center;
}

.competitive_icon li {
  margin: 0 2% 0;
  list-style: none;
  display: inline;
}

.fab {
  color: #1dd661;
}
.fab:hover {
  color: black;
}
.Heading {
  text-align: center;
}

.box-item {
  margin-bottom: 5px;
  color: #868e96;
  font-weight: 400;
}

.certificate {
  padding-top: 20px;
}
.certificate-text {
  text-align: center;
}

.box-shadow {
  box-shadow: 5px 5px 5px #bdbdbd;
}
.border-deg {
  border-top: 10px solid #f13c20;
}
